* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

main {
    display: grid;
    height: 100vh;
    grid-template-rows: 10vh 90vh;
    padding: .6rem;
    gap: .6rem;
}

input{
    padding:.6rem;
}

#quotes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: .6rem;
}

article{
    background-color: lavenderblush;
    padding: .6rem;
    height: 100px;
    display: grid;
    place-items: center;
    box-shadow: 0 0 8px 1px lightgrey;
    color: #333;
}